extends ../common/layouts/default.pug

block content
  table.body-wrap(align='center', width='80%')
    tbody
      tr
        td.container(bgcolor='#FFFFFF')
          .content
          p Hi #{ctx.name},
          p #{ctx.message}
          p
          p Thanks,
          p Support Team at Serviceo
