doctype html
html(lang='en', xmlns='http://www.w3.org/1999/xhtml', xmlns:v='urn:schemas-microsoft-com:vml', xmlns:o='urn:schemas-microsoft-com:office:office')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width')
    meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
    title #{subject}
    link(rel="stylesheet", href="/css/email.css")
  body
    table.body(border='0', cellpadding='0', cellspacing='10', bgcolor='#E1EBFC', style='width: 680pt')
      tbody
       tr
          td.container
            .content(style='padding: 2cm 1cm 2cm 1cm')
              table(border='0', cellpadding='0', cellspacing='0' style='width:100%;')
                tbody
                  tr
                    td(style='padding: 0cm')
                      .content(style='align: center')
                        table(border='0', cellpadding='0', cellspacing='0', bgcolor='#ffffff', style='width:100%')
                          tbody
                            tr
                              td(style='padding:1cm 2cm 0cm 8.5cm')
                               img(src='https://www.ironsystems.com/sites/all/themes/ironsystems/logo.png'  alt='serviceo')
                            
                            tr
                                td    
                                  block content
                            tr
                                td    
                                  .content(style='align: center')
                                  table(border='0', cellpadding='0', cellspacing='0', style='width:100%; background:#ffffff')
                                    tbody
                                      tr
                                        td(style='width:5%')
                                        td(style='width:25%')
                                          a(href='https://www.ironsystems.com/')
                                           img(src='https://msp.serviceo.me/assets/images/birthday/iron_global.png' alt='iron global' width='113' height='57')
                                        td(style='width:25%')
                                          a(href="https://www.ironserviceglobal.com/")
                                           img(src='https://msp.serviceo.me/assets/images/birthday/service_global.png' alt='ironserviceglobal' width='113' height='57')
                                        td(style='width:25%')
                                          a(href="https://www.ironsystems.com/")
                                           img(src='https://msp.serviceo.me/assets/images/birthday/iron-networks.png' alt='iron network' width='113' height='57')
                                        td(style='width:20%')
                                          a(href="http://www.serviceo.com/")
                                           img(src='https://msp.serviceo.me/assets/images/birthday/serviceo.png' alt='serviceo' width='113' height='57')
                            tr
                                td    
                                  .content(style='align: center')
                                  table(border='0', cellpadding='0', cellspacing='0', style='width:100%; background:#ffffff')
                                    tbody
                                      tr
                                          td(style='width:30%; border: none; border-top: solid #4682C0 1pt;padding: 15pt 0cm 7.5pt 0cm;')
                                          td(style='width:10%;border: none; border-top: solid #4682C0 1pt;padding: 15pt 0cm 7.5pt 0cm;')
                                            a(href="https://www.facebook.com/IronSystemsinc/")
                                             img(src='https://msp.serviceo.me/assets/images/birthday/facebook.png' alt='facebook' width='36' height='42')
                                          td(style='width:10%; border: none; border-top: solid #4682C0 1pt;padding: 15pt 0cm 7.5pt 0cm;')
                                            a(href='https://twitter.com/IronSystems_Inc')
                                             img(src='https://msp.serviceo.me/assets/images/birthday/twitter.png' alt='twitter' width='36' height='42')
                                          td(style='width:10%;border: none; border-top: solid #4682C0 1pt;padding: 15pt 0cm 7.5pt 0cm;')
                                            a(href="https://www.ironsystems.com/")
                                             img(src='https://msp.serviceo.me/assets/images/birthday/google.png' alt='google.com' width='36' height='42')
                                          td(style='width:10%;border: none; border-top: solid #4682C0 1pt;padding: 15pt 0cm 7.5pt 0cm;')
                                            a(href="https://www.linkedin.com/company/iron-systems-inc")
                                             img(src='https://msp.serviceo.me/assets/images/birthday/linked.png' alt='linkedin.com' width='36' height='42')
                                          td(style='width:30%;border: none; border-top: solid #4682C0 1pt;padding: 15pt 0cm 7.5pt 0cm;')
                            tr
                                td    
                                  .content(style='align: center')
                                  p(style='text-align: center;color: black') All information used herein is owned by Iron Systems Inc & it subsidiaries. Except as specifically permitted, no portion of the information shared in this presentation may be reproduced in any form or by any means without the prior written permission from Iron Systems Inc.

                        .footer 
                        table(border='0', cellpadding='0', cellspacing='0')
                        tbody
                          tr
                            td.content-block       
                              table(border='0', cellpadding='0', cellspacing='0', style='width:100%;')
                              tbody
                                 tr
                                    td
                                      p(style='text-align: center;color: black') Copyright ©2023 ironsystems.com, All rights reserved.
          td  
